<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="product-form">
  <h2>{{ isEditMode ? 'Edit product' : 'Add product' }}</h2>

  <div>
    <label for="name">Product</label>
    <input id="name" formControlName="name" />
    <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="error-message">
    </div>
  </div>

  <div>
    <label for="price">Price</label>
    <input id="price" formControlName="price" type="number" />
    <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="error-message">
    </div>
  </div>
  
  <div>
    <label for="description">Description</label>
    <textarea id="description" formControlName="description"></textarea>
    <div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched" class="error-message">
  </div>
  </div>

  <div>
    <label for="image">Image</label>
    <div class="custom-file-input">
      <input type="file" id="image" (change)="onFileSelected($event)" accept="image/*">
      <span *ngIf="selectedFileName">{{ selectedFileName }}</span>
    </div>
  </div>


  <div class="image-preview-container" *ngIf="imagePreview">
    <button type="button" class="remove-image-btn" (click)="removeImage()">✖</button>
    <img [src]="imagePreview" class="thumbnail">
  </div>
  
<br>
  <button [disabled]="productForm.invalid" type="submit">
    {{ isEditMode ? 'Save changess' : 'Add product' }}
  </button>
  <button type="button" (click)="close.emit()">Cancel</button>
  <div *ngIf="formSubmitted" class="success-message">
    {{ isEditMode ? 'Product successfully edited.' : 'Product successfully added.' }}
  </div>
</form>