
body {
    font-family: Arial, sans-serif;
    background-color: #ddddddd7;
    margin: 15px;
    padding: 0;
  }
  
  h1, h2 {
    color: #333;
    text-align: center;
  }
  
  button {
    background-color: #af8f68d7;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 15px;
 
  }
  
  button:hover {
    background-color: #ad8656d7;

  }
  

  